.fcus-table {
    background: $ruby;
    color: $pantone;
}
.active {
    background: $fogra !important;
    color: $honeydew;
}
#nav-wg-tab {
    padding: 1rem;
    color: $honeydew;
    font-weight: bold;
}
#nav-lg-tab {
  padding: 1rem;
  color: $honeydew;
  font-weight: bold;
}
.f2-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
    &-image {
        grid-area: image;
        // border-top-left-radius: 15px;
        // border-top-right-radius: 15px;
        // background-size: cover;
        span{
            font-size: 4rem;
            font-weight: bold;
            display: block;
            margin-top: 0rem;
            // transform: scale(.5rem);
          }
      }
      &:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      }
  }
  .f2-card-image {
    grid-area: image;
  }
  .f2-card-text {
    grid-area: text;
    background: $fogra;
    color: $honeydew;
    outline: .5px solid $color-ladha;
    p {
        // color: grey;
        font-size:15px;
        font-weight: 300;
      }
      h2 {
        margin-top:0px;
        font-size:28px;
      }
  }
  .f2-card-text .date {
    // color: rgb(255, 7, 110);
    font-size:13px;
  }
//   .f2-card-stats {
//     grid-area: stats; 
//   }
  .image-1{
    background: $fogra;
  }
  .image-2{
    background: $fogra;
  }
  .image-3{
    background: $fogra;
  }
//   .f2-card-stats {
//     grid-area: stats; 
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr;
  
//     border-bottom-left-radius: 15px;
//     border-bottom-right-radius: 15px;
//     background: $fogra;
//   }
  .f2-card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
  }
  .icon-success {
    color: #2bffc6;
  }
  .icon-pinkie {
    color: #e14eca;
  }
  .icon-info {
    color: #5e72e4;;
  }
  .f2-btn {
    background: #5e72e4;
    color: $honeydew;
    font-family: sans-serif;
  }
  .crayon {
    color: #ff0000e0;
    animation-name: animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes animate {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
  }