$color-main: #4A001F;
$color-prim: #2E0219;
$color-sec: #008DD5;
$text-color: #FCD0A1;
$color-ladha: #8AC926;
$ruby: #931621;
$pantone: #fb5607;
$fogra: #0e131f;
$honeydew: #dff3e4;
$mistyrose: #f5e3e0;
$fawn: #e7a977;